.node--featured-card {
  --card-bw: none;

  .node--link {
    --card-link--direction: row-reverse;
  }

  .card-body {
    --card-body-bg: var(--c-white);
    --h-c: var(--c-black);
    max-height: 440px;
    overflow: hidden;
    padding-bottom: 37px;
  }

  .field-media,
  .field-image {
    flex: 0 0 50%;
    max-height: 440px;
    overflow: hidden;

    img {
      aspect-ratio: 1/1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .field-date {
    font-size: 14px;
    color: var(--c-gray-700);
  }

  .field-link {
    align-items: center;
    gap: 15px;

    a {
      --link-c: var(--c-secondary);
    }
  }

  /* paragraph style */
  .paragraph--title {
    & > a {
      --link-c: var(--h-c);
      --link-hover-color: var(--c-secondary);
    }
  }
}
