{#
/**
 * @file
 * Frontend theme implementation to display a paragraph.
 */
#}

{{- attach_library('frontend/p--edw-container') -}}

{% set classes = [
  'paragraph',
  'paragraph--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--'~ paragraph.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  content.field_classes.0 ? content.field_classes.0['#context']['value'],
  content.field_background_color.0 ? content.field_background_color.0['#markup'],
] %}

<div{{attributes.addClass(classes).setAttribute('id',content.field_section_id.0['#context'].value)}}>
  {% if content.field_container_size.0 %}
    <div class="{{content.field_container_size.0['#markup'] }}">
    {% endif %}

    {{- content|without('field_section_id', 'field_classes', 'field_background_color', 'field_container_size' ) -}}
    {% if content.field_container_size.0 %}
    </div>
  {% endif %}
</div>
