.node-teaser {
  margin-bottom: 1.875rem;
}

  .node-teaser .field--name-field-image {
    margin-bottom: 0.625rem;
  }

  .node-teaser h3 a {
      text-decoration: none;
      color: var(--body-color);
    }

  .node-teaser h3 a:hover {
        color: var(--link-hover-color);
      }

  .node-teaser .date-tags {
    display: flex;
    margin-bottom: 0.625rem;
  }

  .node-teaser .date-tags *:not(:first-child):before {
        content: '|';
        margin-right: 0.3125rem;
        margin-left: 0.3125rem;
      }
