.mt-auto{
  background: forestgreen;
  color:white;
  width: auto;
  padding: 3.75rem 0;
}

footer .nav {
  display: inline-flex;
  flex-direction: row;
  gap: 1rem;

}

footer .nav-item{
  color:white;
  padding-bottom: 1rem;
}

footer  .row {
  border-bottom: 1px solid black;
}
