.lang-dropdown-select-element {
  font-size: small !important;
  width: 5.3125rem !important;
  display: inline-block !important;
  box-shadow: none !important;
}

  .lang-dropdown-select-element {
  border: none;
  text-align: left;
  height: 1.875rem;
  padding-left: 2px;
}

  .lang-dropdown-select-element select {
    box-shadow: none !important;
  }

.simple-search-form {
  display: inline-flex;
  padding-left: 1rem;
}

.simple-search-form input[type="search"] {
    box-shadow: none;
    width: 6.25rem;
    padding-left: 0.3125rem;
    background-color: white;
    border-color: white;
    border-radius: 0;
    height: 1.875rem;
  }

.block-simple-search-form-block {
  display: flex;
  align-items: center;
}

.block-simple-search-form-block:before {
    content: '';
    height: 1.25rem;
    width: 1px;
    background: #898989;
    display: inline-block;
    margin-left: 0.625rem;
  }

header .form-search {
  display: inline-block !important;

}

header .form-search {
  font-size: small;

}

header .form-actions {
  background-color: white;
  border-radius: 0;
  padding-right: 0.3125rem;
  width: 0.9375rem;
  height: 0.9375rem;
}

header .button {
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: white;
  border-radius: 0;
  border-color: white;
  background-image: url('../assets/search.svg');
  background-repeat: no-repeat;
  background-position: center;

}

.ms-auto {
  margin-top: 1em;
}

header .navbar-nav {
    margin-right: -1.5625rem;
  }

header .navbar-nav .nav-item {
      color: var(--c-black);
      padding: 0 0.9375rem;
    }

header .nav-item:hover {
  color: var(--c-primary);
}

.dropdown-menu {
  border-top: 4px solid var(--c-primary);
  border-radius: 0 0 0.625rem 0.625rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 0;
  overflow: hidden;
}
