parameters:
  ignoreErrors:
    -
      message: '#^Function [a-zA-Z0-9\\_]+\(\) has no return type specified\.$#'
      path: web/modules/custom/**/*.module
    -
      message: '#^Function [a-zA-Z0-9\\_]+\(\) has parameter .* with no type specified\.$#'
      path: web/modules/custom/**/*.module
