parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # new static() is a best practice in Drupal, so we cannot fix that.
        - "#^Unsafe usage of new static#"
        - '#has no return type specified.#'
        - '#has no value type specified.#'
        - '#Variable \$summary might not be defined.#'
        - '#Access to an undefined property Drupal\\Core\\Field\\FieldItemInterface::\$value.#'
        - '#Access to an undefined property Drupal\\Core\\Field\\FieldItemListInterface::\$value.#'
        - '#Access to an undefined property Drupal\\Core\\Field\\FieldItemListInterface<Drupal\\Core\\Field\\FieldItemInterface>::\$summary.#'
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) has no return type specified\./'
          path: web/modules/custom/**/*.module
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) return type has no value type specified/'
          path: web/modules/custom/**/*.module
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) has parameter .* no type specified/'
          path: web/modules/custom/**/*.module
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) has no return type specified\./'
          path: web/modules/custom/**/*.theme
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) return type has no value type specified/'
          path: web/modules/custom/**/*.theme
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) has parameter .* no type specified/'
          path: web/modules/custom/**/*.theme
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) has no return type specified\./'
          path: web/modules/custom/**/*.profile
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) return type has no value type specified/'
          path: web/modules/custom/**/*.profile
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) has parameter .* no type specified/'
          path: web/modules/custom/**/*.profile
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) has no return type specified\./'
          path: web/modules/custom/**/*.inc
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) return type has no value type specified/'
          path: web/modules/custom/**/*.inc
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) has parameter .* no type specified/'
          path: web/modules/custom/**/*.inc
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) has no return type specified\./'
          path: web/modules/custom/**/*.deploy.php
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) return type has no value type specified/'
          path: web/modules/custom/**/*.deploy.php
        - message: '/^Function [a-zA-Z0-9\\_]+\(\) has parameter .* no type specified/'
          path: web/modules/custom/**/*.deploy.php
