/*
  Accordion tabs that have not been created using Javascript
*/

/* clearfix */
.ckeditor-accordion-container {
  & > dl:before,
  & > dl:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
}

.ckeditor-accordion-container > dl:after {
  clear: both;
}

/* CKEditor accordion */
.ckeditor-accordion-container > dl,
.ckeditor-accordion-container > dl dt,
.ckeditor-accordion-container > dl dd {
  box-sizing: border-box;
}

.ckeditor-accordion-container {
  & > dl {
    position: relative;
    border: 1px solid var(--c-gray-300);
    border-radius: var(--br);
    overflow: hidden;

    dt {
      position: relative;

      &:not(:first-child) {
        border-top: 1px solid var(--c-white);
      }

      & > a,
      & > a:not(.button) {
        display: block;
        padding: 10px 15px 10px 50px;
        background-color: var(--c-gray-100);
        color: var(--c-primary);
        cursor: pointer;
        -webkit-transition: background-color 300ms;
        transition: background-color 300ms;

        &:hover {
          background-color: var(--c-gray-200);
          box-shadow: none;
          text-decoration: none;
        }
      }

      &.active > a {
        background-color: var(--c-gray-300);
      }
    }

    dd {
      display: none;
      padding-inline: 50px 16px;
      margin: 0;

      & > *:first-child {
        padding-top: 16px;
      }

      & > *:last-child {
        padding-bottom: 16px;
      }
    }
  }
}

/* label / tab */
.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle {
  display: inline-block;
  position: absolute;
  padding: 0 10px;
  width: 30px;
  height: 30px;
  z-index: 1;
  top: calc(50% - 1px);
  left: 11px;
  box-sizing: border-box;
}
.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before,
.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after {
  background: var(--c-primary);
  -webkit-transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 10px;
  z-index: -1;
  left: 0;
  top: 0;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  will-change: transform;
}

.ckeditor-accordion-container.no-animations
  > dl
  dt
  > a
  > .ckeditor-accordion-toggle:before,
.ckeditor-accordion-container.no-animations
  > dl
  dt
  > a
  > .ckeditor-accordion-toggle:after {
  transition: initial;
}

.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:before {
  left: 13px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.ckeditor-accordion-container > dl dt > a > .ckeditor-accordion-toggle:after {
  right: 13px;
  left: auto;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.ckeditor-accordion-container
  > dl
  dt.active
  > a
  > .ckeditor-accordion-toggle:before {
  transform: rotate(45deg);
}
.ckeditor-accordion-container
  > dl
  dt.active
  > a
  > .ckeditor-accordion-toggle:after {
  transform: rotate(-45deg);
}

.ckeditor-accordion-container > dl dt > a:focus,
.ckeditor-accordion-container > dl dt > a:not(.button):focus {
  outline-color: #333;
}

.ckeditor-accordion-container > dl dt:last-of-type > a {
  border-bottom: 0;
}
