{#
/**
 * @file
 * Frontend override for a field.
 */
#}

{%
  set classes = [
    'field',
    field_name|clean_class,
  ]
%}

<div{{attributes.addClass(classes)}}>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
