on:
  workflow_dispatch:
    inputs:
      check_config:
        type: boolean
        description: 'Fail when configuration overridden'
        required: true
        default: true
      sql_backup:
        type: boolean
        description: 'Create SQL backup'
        required: true
        default: true

name: 'Deploy production instance'
jobs:
  deploy:
    name: 'deployment'
    runs-on:
      labels: 'drupal'
    steps:
      - name: Fail if a branch was selected
        if: github.event_name == 'workflow_dispatch' && !startsWith(github.ref, 'refs/tags/')
        run: |
          echo "This workflow should not be triggered with workflow_dispatch on a branch. Please choose a tag."
          exit 1

      - name: 'Checkout source code'
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: 'Install dependencies'
        uses: eaudeweb/drupal-install-action@1.x
        with:
          dev: false

      - name: 'Create release archive'
        id: artifact
        uses: eaudeweb/drupal-artifact-action@1.x

      - name: 'Deploy release on the server'
        uses: eaudeweb/drupal-deploy-action@v2.1.4
        with:
          ssh_user:             ${{ secrets.PROD_SSH_USER }}
          ssh_host:             ${{ secrets.PROD_SSH_HOST }}
          ssh_key:              ${{ secrets.PROD_SSH_KEY }}
          release_id:           'release-${{ github.ref_name }}'
          release_filename:     ${{ steps.artifact.outputs.filename }}
          project_dir:          /var/www/html/example.org
          artifacts_dir:        /var/www/artifacts/example.org
          settings_file:        /var/www/config/example.org/settings.local.php
          public_files_dir:     /var/www/config/example.org/files
          # robo_file:          /var/www/config/example.org/robo.yml
          # database_dump_dir:  /var/www/config/example.org/sync
          check_config:         ${{ inputs.check_config }}
          sql_backup:           ${{ inputs.sql_backup }}
          # artifacts_lifespan:   30

      - name: 'Update the Drupal instance'
        id: release
        uses: eaudeweb/drupal-update-action@v1.0
        with:
          path: /var/www/html/example.org

      - name: 'Cleanup old releases'
        uses: eaudeweb/drupal-cleanup-action@1.x
        with:
          ssh_user:             ${{ secrets.PROD_SSH_USER }}
          ssh_host:             ${{ secrets.PROD_SSH_HOST }}
          ssh_key:              ${{ secrets.PROD_SSH_KEY }}
          cleanup_dir:          /var/www/artifacts/example.org
          retain:               5

      - name: 'Discord notification'
        run: >
          curl -X POST -F "content=:white_check_mark: ${{ github.repository }} release **${{ github.ref_name }}** was
          successfully deployed on https://example.org.
          [view action run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})"
          ${{ secrets.DISCORD_WEBHOOK }}

      - name: 'Discord notification on failed deploy'
        if: failure()
        run: >
          curl -X POST -F
          "content=:octagonal_sign: **${{ github.repository }}** release **${{ github.ref_name }}** failed to deploy on https://example.org.
          [view action run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})"
          ${{ secrets.DISCORD_WEBHOOK }}
