.slick-next:before {
  background-image: url("data:image/svg+xml,%3csvg width='41' height='39' viewBox='0 0 41 39' fill='var(--c-primary)' xmlns='http://www.w3.org/2000/svg'%3e    %3cpath d='M12.6587 13.9425L20.5 21.4013L28.3413 13.9425L30.75 16.25L20.5 26L10.25 16.25L12.6587 13.9425Z' fill='var(--c-primary)'/%3e%3c/svg%3e");
  transform: rotate(270deg);
  content: '';
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin-left: -0.9375rem;
}

.slick-prev:before {
  transform: rotate(90deg);
  background-image: url("data:image/svg+xml,%3csvg width='41' height='39' viewBox='0 0 41 39' fill='var(--c-primary)' xmlns='http://www.w3.org/2000/svg'%3e    %3cpath d='M12.6587 13.9425L20.5 21.4013L28.3413 13.9425L30.75 16.25L20.5 26L10.25 16.25L12.6587 13.9425Z' fill='var(--c-primary)'/%3e%3c/svg%3e");
  content: '';
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.slick-list {
  display: flex;
}

.slick__slide {
  background-color: var(--color-white);
  border-radius: 0.625rem 0.625rem 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slick__slide .node-teaser {
    margin-bottom: 0;
  }

@media (max-width: 61.9375rem) {

.slick__slide {
    margin-right: 0.625rem;
    margin-left: 0.625rem
}
  }

.slick__arrow {
  width: calc(100% + 5.3125rem);
  left: -2.5rem;
}

@media (max-width: 61.9375rem) {

.slick__arrow {
    width: calc(100% + 4rem);
    left: -1.4375rem
}
  }

.slick-track {
  display: flex;
  gap: 0.9375rem;
}

.slide__caption {
  padding: 0;
}

.slide__content {
  height: 100%;
  display: flex;
}

.slide__description {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.slide__description > * {
    height: 100%;
  }

.slick-arrow {
  background: transparent;
}
