{%
  set classes = [
    'sort-item',
     active ? 'sort-' ~ order,
     active ? 'is-active',
    'sort-item--' ~ sort_field,
    'btn',
    'btn-outline-primary',
  ]
%}
<a href="{{ url }}" {{ attributes.addClass(classes) }}>{{ label }}{{ order_indicator }}</a>
