:root {
  --_card_s: var(--card_s, var(--s-2));
  --_card_c: var(--card_c, var(--body_c));
  --_card_pb: var(--card_pb, var(--_card_s));
  --_card_pi: var(--card_pi, var(--_card_s));
  --_card_bg: var(--card_bg, var(--c-gray-ultralight));
  --_card_br: var(--card_br, var(--br));
  --_card_bw: var(--card_bw, var(--bw));
  --_card_bc: var(--card_bc, var(--bc));

  --_card-cap_bg: var(
    --card-cap_bg,
    color-mix(in oklab, var(--_card_bg), black 20%)
  );
  --_card-cap_c: var(--card-cap_c, var(--_card_c));
  --_card-cap_pb: var(--card-cap_pb, var(--_card_s));
  --_card-cap_pi: var(--card-cap_pi, var(--_card_s));

  --_card-title_c: var(--card-title_c, var(--_card_c));
  --_card-subtitle_c: var(--_card-subtitle_c, var(--_card_c));
}

.card {
  --card-title-spacer-y: 8px;

  --card-inner_br: 0px;
  --card-group-margin: 10px;

  text-wrap: balance;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  color: var(--_card_c);
  border-radius: var(--_card_br);
  background-color: var(--_card_bg);
  border: var(--_card_bw) solid var(--_card_bc);

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .card-header + .list-group,
  > .list-group + .card-footer {
    border-top: 0;
  }
}

.card-body {
  flex: 1 1 auto;
  padding-block: var(--_card_pb);
  padding-inline: var(--_card_pi);
  color: var(--card_c);
}

.card-title {
  margin-bottom: var(--card-title-spacer-y);
  color: var(--_card-title_c);
}

.card-subtitle {
  margin-top: calc(-0.5 * var(--card-title-spacer-y));
  margin-bottom: 0;
  color: var(--_card-subtitle_c);
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  &:hover {
    text-decoration: var(--link_d_h);
  }

  margin-left: var(--card_pb);
  + .card-link {
  }
}

/* Optional textual caps */

.card-header,
.card-footer {
  color: var(--_card-cap_c);
  background-color: var(--_card-cap_bg);
  padding-block: var(--_card-cap_pb);
  padding-inline: var(--_card-cap_pi);
}

.card-header {
  border-block-end: var(--_card_bw) solid var(--_card_bc);
  margin-block-end: 0;
}

.card-footer {
  border-block-start: var(--_card_bw) solid var(--_card_bc);
}

/* Header navs */
.card-header-tabs {
  margin-right: calc(-0.5 * var(--_card-cap_pi));
  margin-bottom: calc(-1 * var(--_card-cap_pb));
  margin-left: calc(-0.5 * var(--_card-cap_pi));
  border-bottom: 0;

  .nav-link.active {
    background-color: var(--_card_bg);
    border-bottom-color: var(--_card_bg);
  }
}

.card-header-pills {
  margin-right: calc(-0.5 * var(--_card-cap_pi));
  margin-left: calc(-0.5 * var(--_card-cap_pi));
}

/* Card image */
.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: var(--card-inner_br);
  border-top-right-radius: var(--card-inner_br);
}

.card-img,
.card-img-bottom {
  /* @include border-bottom-radius(var(--card-inner_br)); */
}

/* Card groups */
.card-group {
  > .card {
    margin-bottom: var(--card-group-margin);
  }

  @media (--sm) {
    display: flex;
    flex-flow: row wrap;

    > .card {
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }
    }
  }
}

.card-image {
  width: 100%;
  height: 140px;
  transition: all 0.4s ease;
  flex: 1 0 auto;
  position: absolute;
  top: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    background: var(--c-moss-700)
      linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
  }

  .field-banner-image {
    position: relative;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      display: block;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 100%
      );
      z-index: 1;
    }

    &,
    * {
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }

  &-overlay {
    position: absolute;
    inset: 72px 32px 24px;
    z-index: 3;
    font-size: 14px;
  }
}

.card-header {
  --_card-cap_bg: transparent;
  --_card-cap_pb: var(--_card_pb);
  --_card-cap_pi: var(--_card_pi) 6px;
  --_card_bw: transparent;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 14px;
  color: #666666;
}

.card-body {
  flex: 1 1 auto;
  transition: all 0.4s ease;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.card-title {
  transition: all 0.4s ease;
}

.card-subtitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 16px;
}

.card-link {
  --link-c: var(--c-highlight);
  --btn-bg_h: transparent;
  --btn-fs: 12px;
  --btn-c_h: var(--_card_bc);

  transition: var(--_card-tt);
  margin-top: auto;
  align-self: start;
}

.card--compact-teaser {
  &.card {
    --_card_bg: var(--c-gray-ultralight);
    --_card-title_c_h: var(--c-highlight);
    --card-title-spacer-y: var(--spacer);
    --_card_bw: 0;
    --_card_pb: 24px;
    --_card_pi: 24px;
    --_card_bw: 2px;
    --_card_bc: transparent;
    --_card_bc_h: var(--c-highlight);
    --_card-tt: var(--transition-base);
    transition: var(--_card-tt);

    @media (--switchUp) {
      min-height: 300px;
    }

    &:has(.btn-arrow) {
      @media (--switchUp) {
        min-height: 180px;
      }
    }

    &:hover {
      --_card_bc: var(--_card_bc_h);
      --_card-title_c: var(--_card-title_c_h);

      background: var(--c-white);
    }
  }

  .card-image {
    width: 100%;
    height: 140px;
    transition: all 0.4s ease;
    flex: 1 0 auto;
    position: absolute;
    top: 0;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      display: block;
      background: var(--c-moss-700)
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      z-index: 1;
    }

    .field-banner-image {
      position: relative;
      z-index: 2;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        display: block;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.8) 100%
        );
        z-index: 1;
      }

      &,
      * {
        height: 100%;
      }

      img {
        object-fit: cover;
      }
    }

    &-overlay {
      position: absolute;
      inset: 72px 32px 24px;
      z-index: 3;
      font-size: 14px;
    }
  }

  .card-header {
    --_card-cap_bg: transparent;
    --_card-cap_pb: var(--_card_pb);
    --_card-cap_pi: var(--_card_pi) 6px;
    --_card_bw: transparent;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
    color: #666666;
  }

  .card-body {
    flex: 1 1 auto;
    transition: all 0.4s ease;
    z-index: 3;
    display: flex;
    flex-direction: column;
  }

  .card-header + .card-body {
    padding-top: 6px;
  }

  .card-title {
    transition: all 0.4s ease;
  }

  .card-subtitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 16px;
  }

  .card-link {
    --_btn-c: var(--c-highlight);
    --btn-bg_h: transparent;
    --btn-fs: 12px;
    --btn-c_h: var(--_card_bc);

    transition: var(--_card-tt);
    margin-top: auto;
    align-self: start;
  }
}
