{#
/**
 * @file
 * Frontend theme implementation to display a paragraph.
 */
#}

{{- attach_library('frontend/p--text-box--default') -}}

{% set classes = [
  'paragraph',
  'paragraph--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--'~ paragraph.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  content.field_classes.0 ? content.field_classes.0['#context']['value'],
  content.field_background_colors.0 ? content.field_background_colors.0['#markup'],
] %}

<div{{attributes.addClass(classes)}}>
  {{- content|without('field_classes', 'field_background_colors') -}}
</div>
