.lang-dropdown-select-element {
  font-size: small !important;
  width: 85px !important;
  display: inline-block !important;
  border: none;
  box-shadow: none !important;
  text-align: left;
  height: 30px;
  padding-left: 2px;

  select {
    box-shadow: none !important;
  }
}

.simple-search-form {
  display: inline-flex;
  padding-left: 1rem;

  input[type="search"] {
    box-shadow: none;
    inline-size: 100px;
    padding-left: 5px;
    background-color: white;
    border-color: white;
    border-radius: 0;
    height: 30px;
  }
}

.block-simple-search-form-block {
  display: flex;
  align-items: center;

  &:before {
    content: '';
    height: 20px;
    width: 1px;
    background: #898989;
    display: inline-block;
    margin-left: 10px;
  }
}

header .form-search {
  font-size: small;
  display: inline-block !important;

}

header .form-actions {
  background-color: white;
  border-radius: 0;
  padding-right: 5px;
  width: 15px;
  height: 15px;
}

header .button {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 0;
  border-color: white;
  background-image: url('../assets/search.svg');
  background-repeat: no-repeat;
  background-position: center;

}

.ms-auto {
  margin-top: 1em;
}

header {
  .navbar-nav {
    margin-right: -25px;

    .nav-item {
      color: var(--c-black);
      padding: 0 15px;
    }
  }
}

header .nav-item:hover {
  color: var(--c-primary);
}

.dropdown-menu {
  border-top: 4px solid var(--c-primary);
  border-radius: 0 0 0.625rem 0.625rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  padding: 0;
  overflow: hidden;
}
