.node--news--card {
  .field-date {
    font-size: 14px;
    color: var(--c-gray-700);
    padding-top: 20px;
    min-height: 41px;
  }

  .field-image {
    aspect-ratio: 20/13;
    max-width: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: var(--transition-base);
      object-position: center;
    }
  }

  .node--link {
    &:hover {
      --badge-bg: var(--c-secondary);
      --_badge-c: var(--c-white);

      .h5 {
        --h-c: var(--c-secondary);
      }

      img {
        transform: scale(1.1);
      }
    }
  }
}
