{#
/**
 * @file
 * Frontend theme implementation to display a paragraph.
 */
#}

{{- attach_library('frontend/p--grouped-paragraphs--default') -}}

{% set classes = [
  'paragraph',
  'paragraph--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--'~ paragraph.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  content.field_classes.0 ? content.field_classes.0['#context']['value'],
] %}

<div{{attributes.addClass(classes).setAttribute('id',content.field_section_id.0['#context'].value)}}>
  <div class="container">
    {{- content|without('field_section_id', 'field_classes') -}}
  </div>
</div>
