.grid-supporters {
  .views-view-responsive-grid {
    --gc-layout-gap: 0px;
    --gc-column-count: 4;
    --gc-item--min-width: 220px;

    --gap-count: calc(var(--gc-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--gc-layout-gap));
    --gc-item--max-width: calc(
      (100% - var(--total-gap-width)) / var(--gc-column-count)
    );

    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(max(var(--gc-item--min-width), var(--gc-item--max-width)), 1fr)
    );
    grid-template-rows: repeat(2, auto);
    grid-gap: var(--gc-layout-gap);
    border-radius: var(--br);

    & > div {
      overflow: hidden;
      > div {
        padding: 40px;
      }
    }
  }

  &.close .views-view-responsive-grid {
    grid-auto-rows: 0px;
  }
}

.btn-secondary.show-all {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2019%22%3E%0A%20%20%3Cpath%20d%3D%22M9.995%205.64v12.175h-2V5.639l-5.6%205.6-1.4-1.424%208-8%208%208-1.4%201.425Z%22%20fill%3D%22%23001f2f%22%2F%3E%0A%3C%2Fsvg%3E");
  background-size: 18px 19px;
}

.view-footer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
