{#
/**
 * @file
 * Frontend theme implementation to present a media item.
 */
#}

<a href="{{ content.field_media_document.0['#markup'] }}" target="_blank" class="btn btn-secondary">
  {{- 'Download'|t -}}
</a>
