:root {

  /* RIO theme */
  --c-moss-800: #EDF3EE;
  --c-moss-700: #1A4D44;
  --c-moss-600: #133933;
  --c-coffee-800: #F9F5EC;
  --c-coffee-700: #C28C71;
  --c-coffee-600: #A16345;
  --c-coffee-500: #814C31;
  --c-highlight: var(--c-primary);
  --c-gray-ultralight: #F7F7F7;

  --c-secondary: #3C9F53;
}
