.node--header {
  isolation: isolate;
  width: 100%;
  overflow: clip;

  & > .container {
    padding-block: 60px;
  }

  .header {
    & .container > * {
      max-width: 880px;
    }
  }

  .node--date {
    color: var(--c-gray-300);
    margin-top: 30px;
    font-size: 14px;
  }

  .field-banner-image {
    position: absolute;
    inset: 0;
    z-index: -1;

    * {
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
    }

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  :not(.path-frontpage) &:has(.field-banner-image) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
